<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="header.html:: head"></div>
</head>
<body>

<!-- NavBar -->
<nav th:include="navbar.html :: navbar" ></nav>


<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h4 class="header center orange-text">Control de Uso</h4>
      <div class="row center">
        <h6 class="header col s12 light">Elija el vehículo que desea registrar el control.</h6>
      </div>
        <div> <!-- Datos de la persona que hace el registro-->
            <div class="select1">
                <select>
                  <option value="" disabled selected>Vehículo</option>
                  <option value="1">Pickup 1</option>
                  <option value="2">Pickup 2</option>
                </select>
                <label>Materialize Select</label>
            </div>
         </div>
      <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s6"><a  class="active" href="#salida1">Salida</a></li>
              <li class="tab col s6"><a href="#entrada1">Entrada</a></li>

            </ul>
          </div>

          <div id="salida1" class="col s12">
              <label>Hora de Salida</label>
              <input type="text" class="timepicker2">
              <label>Combustible de Salida</label>
              <div class="input-field">
                   <input placeholder="Combustible" id="combustibleS" type="text" class="validate">
             </div>
              <label>Kilometraje de Salida</label>
              <div class="input-field">
                   <input placeholder="Kilometraje" id="kilometrajeS" type="text" class="validate">

              </div>
              <div class="input-field ">
                  <textarea id="textarea2" class="materialize-textarea"></textarea>
                 <label for="textarea2">Observaciones</label>
            </div>

              <button class="btn waves-effect waves-light center" type="submit" name="action">Enviar
                  <i class="material-icons right">send</i>
               </button>
          </div>

          <div id="entrada1" class="col s12">
                <label>Hora de Entrada</label>
                <input type="text" class="timepicker1">
                <label>Combustible de Entrada</label>
                <div class="input-field">
                     <input placeholder="Combustible" id="combustibleE" type="text" class="validate">
               </div>
                <label>Kilometraje de Entrada</label>
                <div class="input-field">
                     <input placeholder="Kilometraje" id="kilometrajeE" type="text" class="validate">
                </div>
                <div class="input-field ">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                   <label for="textarea1">Observaciones</label>
              </div>

                <button class="btn waves-effect waves-light center" type="submit" name="action">Enviar
                    <i class="material-icons right">send</i>
                 </button>
          </div>

        </div>

    </div>
  </div>

 <!-- EndBody -->


<!--Footer -->

<script>
    $(document).ready(function(){
        $('.tabs').tabs();
    });

    $(document).ready(function(){
        $('select').formSelect();
    });
    $(document).ready(function(){
        $('.timepicker2').timepicker();
    });
    $(document).ready(function(){
        $('.timepicker1').timepicker();
    });

</script>

<div th:include="footer.html :: footer" ></div>


  <!--  Scripts-->




  </body>
</html>
