<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Titulo</title> <!--Cambiar Título -->

    <!-- CSS  -->
    <link th:href="@{css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel='stylesheet' th:href="@{css/fullcalendar.css}" />
    <link rel='stylesheet' th:href="@{css/fullcalendar.print.css}" media='print' />
    <!--Fuentes-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <!-- Scripts -->
    <script th:src="@{https://code.jquery.com/jquery-2.2.2.min.js}"></script>
    <script th:src="@{js/materialize.min.js}"></script>
    <script th:src="@{js/moment.min.js}"></script>
    <script th:src="@{js/moment-with-locales.js}"></script>
    <script th:src="@{js/fullcalendar.js}"></script>
    <script th:src="@{js/init.js}"></script>

</head>
<body></body>
