<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
            xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>DashBoard</title> <!--Cambiar Título -->

    <!-- CSS  -->
    <link th:href="@{css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel='stylesheet' th:href="@{css/fullcalendar.css}" />

    <script th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
    <script th:src="@{js/materialize.js}"></script>
    <script th:src="@{js/moment.min.js}"></script>
    <script th:src="@{js/moment-with-locales.js}"></script>
    <script th:src="@{js/fullcalendar.min.js}"></script>
    <script th:src="@{js/init.js}"></script>

</head>
<body>

<!-- NavBar -->
<nav class=" light-blue accent-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Carros ProDUS</a>

        <ul class="right hide-on-med-and-down">
            <li><a href="#">Reservaciones</a></li>
            <li><a href="#">Registrar Control de Uso</a></li>
            <li><a href="#">Registrar Mantenimiento</a></li>


        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Holis</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>


<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">¡Bienvenido!</h1>
        <div class="row center">
            <h5 class="header col s12 light">Sistema para administrar el uso y mantenimiento de los vehículos del Programa de Investigación del Desarrollo Urbano Sostenible.</h5>
        </div>

        <div id="calendar" > </div>

        <br>
        <div class="row center">
            <a href="reservacion.html" id="download-button" class="btn-large waves-effect waves-light orange">Hacer Reservación</a>
        </div>
        <br><br>

    </div>
</div>


<footer class="page-footer blue">
    <div class="container">
        <div class="row">
            <div class="col l12 s12">
                <h5 class="white-text center">ProDUS</h5>
                <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

            </div>

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            Derechos Reservados | 2018
        </div>
    </div>
</footer>


<!--  Scripts-->

<script>
    $(function() {

        $('#calendar').fullCalendar({
            locale: 'es',

            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listMonth'
            },
            buttonIcons: true, // show the prev/next text
            weekNumbers: true,
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            eventLimit: true // allow "more" link when too many events
        });



// when the selected option changes, dynamically change the calendar option
        $('#locale-selector').on('change', function() {
            if (this.value) {
                $('#calendar').fullCalendar('option', 'locale', this.value);
            }
        });
    });
</script>


</body>
</html>
