<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <div th:include="header.html:: head"></div>
</head>
<body>

<!-- NavBar -->
<nav th:include="navbar.html :: navbar" ></nav>

<!-- Body Form -->

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h4 class="header center orange-text">Lista de Usuarios</h4>


    </div>
</div>

<!-- EndBody -->

<div th:include="footer.html :: footer" ></div>



</body>
</html>
